*, html {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Google Sans", sans-serif;

    /* This keeps positioning correct for the blur layer */
    position: relative;
    overflow: hidden;
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;

    filter: blur(8px);          /* <-- blur amount */
    transform: scale(1.1);     /* prevents blur cropping at edges */
    z-index: -1;               /* keeps background behind content */
}

button, h1, h2, h3, p {
    font-family: Google Sans, sans-serif;
}

/* top header */
header, .flexed-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
header {
    justify-content: space-between;
    height: 7.5vh;
    border-bottom: solid 2px #05668D;
    background-color: #427AA1;;
}
header h1 {
    margin-left: 30px;
    width: 120%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header button {
    height: 100%;
    width: 30%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.25em;
    border-color: #05668D;
    border-bottom: none;
}
header button:hover {
    background-color: #05668D;
    cursor: pointer;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 50%;
    background-color: #A5BE00;
    border: solid 2px #679436;
    border-radius: 5px;
}
span h2 {
    text-align: center;
    margin: 20px;
}
span button {
    display: block;
    margin: auto;
    width: 30%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    font-size: 1.75em;
}